.resultBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: auto;
  height: 560px;
  width: 410px;
  background-color: white;
  border: 5px solid #675d50;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.bread-result-info {
  color: rgb(60, 60, 60);
  padding: 0px 30px;
  font-size: 18px;
  text-align: justify;
}

.shareBox {
  width: 410px;
  height: 83px;
  background-color: #675d50;
  position: fixed;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultPageBtn {
  color: white;
  background-color: #675d50;
  border: solid rgb(255, 255, 255) 2px;
  border-radius: 100px;
  height: 56px;
  width: 56px;
  font-size: larger;
}
.share {
  width: 300px;
  margin-right: 17px;
}
.resultPageBtn:hover {
  cursor: pointer;
  background-color: #675d50;
}
#bread-result-content {
  font-size: 50px;
  color: rgb(60, 60, 60);
  margin-bottom: 0;
  margin-top: 40px;
}
